{
  "openapi": "3.1.0",
  "info": {
    "title": "FontColle Catalog API",
    "version": "1.0.0",
    "summary": "Read-only JSON catalog of open-source Google Fonts families.",
    "description": "FontColle serves its font catalog as static JSON files. Every family carries harvested font-binary data (variable axes, OpenType features, metrics, writing systems) plus Google's classification scores and subjective style tags. No authentication and no rate limit. `id` is the lowercased family name with spaces removed (e.g. \"Roboto Slab\" -> \"robotoslab\"). Start from /catalog-slim.json for filtering and ranking; fetch /catalog/{id}.json for a single family's full record.",
    "license": {
      "name": "Data: per-family OFL/Apache/UFL",
      "url": "https://font.chingru.com/llms.txt"
    },
    "contact": { "url": "https://font.chingru.com/" }
  },
  "servers": [{ "url": "https://font.chingru.com" }],
  "externalDocs": {
    "description": "Human- and machine-readable catalog guide (field tables, tag vocabulary, URL params).",
    "url": "https://font.chingru.com/llms.txt"
  },
  "paths": {
    "/catalog-slim.json": {
      "get": {
        "operationId": "listFamiliesSlim",
        "summary": "List every published family (slim projection).",
        "description": "A JSON array of every published family, projected to the fields queries actually filter and rank on. ~2 MB. Start here for style/feature/script queries.",
        "responses": {
          "200": {
            "description": "Array of slim family records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/FamilySummary" }
                }
              }
            }
          }
        }
      }
    },
    "/catalog.json": {
      "get": {
        "operationId": "listFamiliesFull",
        "summary": "List every published family (full records).",
        "description": "The complete FontRecord[]. ~13 MB. Use only when the slim catalog lacks a field you need (per-axis ranges, named instances, per-family language lists, about/version prose).",
        "responses": {
          "200": {
            "description": "Array of full family records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/FontRecord" }
                }
              }
            }
          }
        }
      }
    },
    "/catalog/{id}.json": {
      "get": {
        "operationId": "getFamily",
        "summary": "Get one family's full record.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Lowercased family name with spaces removed, e.g. robotoslab.",
            "schema": { "type": "string", "pattern": "^[a-z0-9]+$" }
          }
        ],
        "responses": {
          "200": {
            "description": "One full family record.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/FontRecord" }
              }
            }
          },
          "404": { "description": "No family with that id." }
        }
      }
    },
    "/designer-index.json": {
      "get": {
        "operationId": "listDesigners",
        "summary": "Index of families by designer.",
        "responses": {
          "200": {
            "description": "Array of {id, name, designer}.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": ["id", "name", "designer"],
                    "properties": {
                      "id": { "type": "string" },
                      "name": { "type": "string" },
                      "designer": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FamilySummary": {
        "type": "object",
        "description": "Slim projection of a family. Superset of the fields most queries filter and rank on.",
        "required": ["id", "name", "designer", "category", "subsets"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Lowercased family name with spaces removed; the /catalog/{id}.json key."
          },
          "name": { "type": "string" },
          "designer": { "type": "string" },
          "category": {
            "type": "string",
            "description": "Letterform class: Sans, Serif, Slab, Script, Display, or Graphics. Advance width is not a class here — a monospaced family still carries its letterform class (Roboto Mono is Sans, Courier Prime is Slab). Detect monospace from the /Monospace/Monospace tag or apiCategory instead."
          },
          "apiCategory": {
            "type": "string",
            "description": "Google's own coarser category, e.g. SANS_SERIF, SERIF, DISPLAY, HANDWRITING, MONOSPACE. The fallback monospace signal for families the classification CSV has not reached."
          },
          "license": {
            "type": "string",
            "description": "OFL, Apache, or UFL."
          },
          "isVariable": { "type": "boolean" },
          "subsets": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Unicode subsets, e.g. latin, cyrillic, devanagari."
          },
          "weights": { "type": "array", "items": { "type": "integer" } },
          "axes": {
            "type": "array",
            "description": "Variable-font axes with ranges.",
            "items": { "type": "object" }
          },
          "features": {
            "type": "array",
            "items": { "type": "string" },
            "description": "OpenType feature tags."
          },
          "tags": {
            "type": "object",
            "description": "Subjective style scores that make mood/feel queries answerable."
          },
          "popularityRank": { "type": ["integer", "null"] }
        }
      },
      "FontRecord": {
        "type": "object",
        "description": "Full family record. All FamilySummary fields plus per-axis ranges, named instances, per-family language lists, specimen, contrast, version history, and about/designer prose. See https://font.chingru.com/llms.txt for the field-by-field guide.",
        "required": ["id", "name", "designer", "category", "subsets"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "designer": { "type": "string" }
        },
        "additionalProperties": true
      }
    }
  }
}
